.contactFlexContainer {
     display:flex;
     flex-direction:row;
     justify-content: space-between;
     .contactForm {
          width: 52%;
     }
     .contactText {
          width:40%;
     }
}

.contactText{
     p{
          margin-bottom: 10px;
          &:first-child{
               text-transform: uppercase;
               color:$headingColor;
          }
     }
}
.socialLinks{
     display:flex;
     flex-direction:row;
     li {
          margin: 20px 15px 0 0;
          a{
               background-color:$background;
               border: none;
               padding: 3px;
               font-size: 2.2rem;
               color: $textColor;
               transition: 0.4s;
               &:hover,
               &:focus {
                    background-color: transparent;
                    color: $accent;
               }
          }
     }
}

.contactForm{
     p{
          display:none;
          margin-top: 10px;
          text-transform: uppercase;
          font-size: 0.7rem;
     }
     .thankYouDisplay {
     display:block;
     transition: 0.8s;   
     }
     button{
          &:focus {
               outline:none;
          }
     }
}


input,
textarea{
     display:block;
     margin-bottom: 10px;
     padding: 3px 0 3px 5px;
     width: 100%;
     resize:none;
     background-color:white;
     border: 1px solid black;
     transition: 0.3s;
     &:active,
     &:focus {
          border:1px solid $accent;
          outline:none;
          background-color: #f9f9f9;
     }
}