@media(max-width:950px){
     .projectsContainer{
          .app{
               height:380px;
               img{
                    max-height:100%;
                    padding: 10px 0;
               }
          }
     }
}

