section {
     margin-bottom: 50px;
}
.decoration {
     position:absolute;
     width: 80px;
     z-index:-10;
     left: -3%;
     img{
          max-width:100%;
          // opacity:0.3;
     }
}
.about {
     .decoration{
          right:30px;
          top:-18px;
     }
}

//ABOUT SECTION
.about{
     .wrapper {
          position:relative;
     }
     
}
.aboutFlexContainer{
     display:flex;
     flex-direction: row;
}
.selfPortrait {
     width: 40%;
     margin-right: 10%;
     margin-bottom: 30px;
     border: 3px solid black;
     background-color: $secondaryBackground;
     border-radius: 5px;
     box-shadow: 30px 30px 0 $accent;
     h3{
          margin-top: 30%;
          margin-left: 5%;
          color: $textColor;
     }
}
.aboutText {
     width: 50%;
     p{
          margin-bottom: 15px;
          &:first-child{
               font-weight:400;
               font-size: 1.2rem;
               color:#696969;
          }
     }
}

.dots {
     position:absolute;
     right:0;
     top:15px;
     z-index:-10;
     width: 400px;
     opacity:0.7;
}

//PORTFOLIO SECTION
.projects {
     .wrapper {
          position:relative;
     }
     .findOutMore {
          margin-bottom:15px;
     }
}

.projectsContainer{
     height:420px;
     margin-bottom: 30px;
     display:flex;
     flex-direction:row;
     justify-content: space-between;
}
.app{
     background-color:$secondaryBackground;
     border-radius: 5px;
     height: 420px;
     width:60%;
     display:flex;
     align-items: center;
     justify-content: center;
     transition: 0.4s;
     overflow:hidden;
     z-index:10;
     position:relative;
     &:hover,
     &:focus,
     &:active {
          animation: scaleUp 0.3s linear;
          background-color: $accent;
          cursor:pointer;
     }
     img{
          max-width: 85%;        
     }
}
.runningApp,
.colorApp {
     width: 60%;
} 
.blankApp,
.restaurantApp {
     width:35%;
}


@keyframes scaleUp{
     0%{
          transform:scale(1)
     }
     50%{
          transform:scale(1.02)
     }
     100%{
          transform:scale(1)
     }
}

.overlay1,
.overlay2,
.overlay3,
.overlay4 {
     width:100%;
     height:100%;
     z-index:30;
     position:absolute;
     &:focus{
          border:2px solid black;
     }
}

.popUpContainer {
     position:absolute;
     height:100%;
     width:100%;
     top:70px;
}
.appPopUp {
     display:block;
     width: 100%;
     height:calc(100% - 70px);
     padding: 10px 0;
     z-index: 20;
     position:absolute;
     display:flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     border: 5px solid $headingColor;
     background-color: $secondaryBackground;
     &.blankText{
          img{
               max-width: 60%;
          }
     }
     i{
          position:absolute;
          top: 15px;
          right: 15px;
          font-size: 2rem;
          color:$accent;
          background-color: #565656;
          border-radius:4px;
          padding: 4px 10px;
          &:focus{
               border:2px solid $accent;
          }
     }
     h3{
          text-align:center;
          max-width: 75%;
     }
     hr{
          width: 30%;
          border:1px solid $accent;
     }
     img{
          max-width: 950px;
          width:100%;
     }
     p{
          max-width: 75%;
          color:$headingColor;
          margin: 10px auto;
          span{
               font-style: italic;
          }
     }
     h4{
          margin-top: 15px;
     }
     div{
          margin-top: 20px;
     }
}

.textContainer {
     display:none;
}

//SKILLSET SECTION
.skillset{
     background-color: $secondaryAccent;
     padding: 30px 0;
}
.skillsContainer {
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
}

.skill{
     display:flex;
     flex-direction:column;
     justify-content: space-between;
     text-align:center;
     height: 93px;
     width: calc((100% / 4));
     margin-bottom: 30px;
     p,
     i{
          color:$headingColor;
     }
     i{
          font-size:3.5rem;
          transition: 0.3s;
     }
     &:hover,
     &:focus {
          i{
               font-size: 3.8rem;
               color:$accent;
          }
     }
}