section {
     margin-bottom: 50px;
     &:focus{
          outline: none;
     }
}

//ABOUT SECTION
.aboutText {
     p{
          margin-bottom: 15px;
          &:first-child{
               font-weight:400;
          }
     }
}

//PORTFOLIO SECTION
.projects {
     .wrapper {
          position:relative;
     }
     .findOutMore {
          margin-bottom:15px;
     }
}

.projectsContainer{
     height:420px;
     margin-bottom: 30px;
     display:flex;
     flex-direction:row;
     justify-content: space-between;
}
.app{
     background-color:$secondaryBackground;
     height: 420px;
     width:60%;
     display:flex;
     align-items: center;
     justify-content: center;
     transition: 0.4s;
     overflow:hidden;
     z-index:10;
     position:relative;
     &:hover,
     &:focus,
     &:active {
          animation: scaleUp 0.3s linear;
          background-color: $accent;
          cursor:pointer;
     }
     img{
          max-height: 100%;
          // border:3px solid green;         
     }
}
.runningApp,
.colorApp {
     width: 60%;
} 
.blankApp,
.restaurantApp {
     width:35%;
}


@keyframes scaleUp{
     0%{
          transform:scale(1)
     }
     50%{
          transform:scale(1.02)
     }
     100%{
          transform:scale(1)
     }
}

.overlay1,
.overlay2,
.overlay3,
.overlay4 {
     width:100%;
     height:100%;
     z-index:30;
     position:absolute;
     &:focus{
          border:2px solid black;
     }
}

.popUpContainer {
     position:absolute;
     height:100%;
     width:100%;
     top:70px;
}
.appPopUp {
     display:block;
     width: 100%;
     height:calc(100% - 70px);
     padding: 10px 0;
     z-index: 20;
     position:absolute;
     display:flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     border: 5px solid $headingColor;
     background-color: $secondaryBackground;
     &.blankText{
          img{
               max-width: 60%;
          }
     }
     i{
          position:absolute;
          top: 15px;
          right: 15px;
          font-size: 2rem;
          color:$accent;
          background-color: #565656;
          border-radius:4px;
          padding: 4px 10px;
          &:focus{
               border:2px solid $accent;
          }
     }
     h3{
          text-align:center;
     }
     hr{
          width: 30%;
          border:1px solid $accent;
     }
     img{
          max-width: 950px;
          width:100%;
     }
     p{
          max-width: 75%;
          color:$headingColor;
          margin: 10px auto;
          span{
               font-style: italic;
          }
     }
     h4{
          margin-top: 15px;
     }
}

.textContainer {
     display:none;
}

//SKILLSET SECTION
.skillsContainer {
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
}

.skill{
     display:flex;
     flex-direction:column;
     justify-content: space-between;
     text-align:center;
     height: 93px;
     width: calc((100% / 4));
     margin-bottom: 30px;
     i{
          font-size:3.5rem;
          transition: 0.3s;
     }
     &:hover,
     &:focus {
          i{
               font-size: 3.8rem;
               color:$accent;
          }
     }
}