$headingFont: 'Questrial';
$bodyFont:'Lexend';

$background: #f8f8f8;
$secondaryBackground: #dedede;
$headingColor: #2d2d2d;
$textColor: #999999;
$accent: #FCDE16;
// $secondaryAccent: #CBA5E7;
$secondaryAccent: #8c42c1;