$headingFont: 'Questrial';
$bodyFont:'Lexend';

$background: #fbfbfb;
$secondaryBackground: #dedede;
$headingColor: #202020;
$textColor: #999999;
$accent: #FCDE16;
// $secondaryAccent: #CBA5E7;
$secondaryAccent: #8c42c1;