$headingFont: 'Questrial';
$bodyFont:'Lexend';

$background: #f8f8f8;
$secondaryBackground: #dedede;
$headingColor: #202020;
$textColor: #626262;
// $accent: #ffe229;
$accent: #f4e060;
$secondaryAccent: #ab72d4;
// $secondaryAccent: #8c42c1;