html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
  background-color: #fbfbfb;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: #202020;
  font-family: "Questrial";
}

li,
p,
input,
textarea,
a {
  font-family: "Lexend";
  color: #999999;
  line-height: 1.5rem;
  letter-spacing: 1.8px;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: 10px;
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 30px 0 15px 0;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  line-height: 1.25rem;
}

button,
a {
  font-family: "Questrial";
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding: 12px 25px;
  color: #202020;
  background-color: white;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  border: 1px solid black;
}
button:hover, button:focus,
a:hover,
a:focus {
  background-color: #FCDE16;
  outline: none;
}

li {
  list-style: none;
}

header {
  height: 100vh;
  background-color: #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header h1,
header h3 {
  margin-left: 15%;
}
header i {
  position: absolute;
  font-size: 3rem;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #202020;
}

footer {
  background-color: #202020;
  padding: 10px 0;
}
footer p {
  text-align: center;
  color: #fbfbfb;
}
footer p span {
  font-size: 1.5rem;
  color: #FCDE16;
}

section {
  margin-bottom: 50px;
}

.contactFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactFlexContainer .contactForm {
  width: 45%;
}
.contactFlexContainer .contactText {
  width: 45%;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.socialLinks li {
  margin: 20px 10px 0 0;
}
.socialLinks li a {
  background-color: #fbfbfb;
  border: none;
  padding: 3px;
  font-size: 2rem;
  color: #999999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.socialLinks li a:hover, .socialLinks li a:focus {
  background-color: transparent;
  color: #FCDE16;
}

.contactForm p {
  display: none;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.contactForm .thankYouDisplay {
  display: block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.contactForm button:focus {
  outline: none;
}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 3px 0 3px 5px;
  width: 100%;
  resize: none;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:active, input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #FCDE16;
  outline: none;
  background-color: #f9f9f9;
}